In [1]:
import pandas as pd
import xarray as xr
import scipy

In [5]:
import cdsapi
from urllib.request import urlopen

c = cdsapi.Client()

# dataset to read
dataset = 'reanalysis-era5-single-levels'

# flag to download data
download_flag = False

# api parameters 
params = {
    'format': 'netcdf',
    'product_type': 'reanalysis',
    'variable': ['100m_u_component_of_wind', '100m_v_component_of_wind', '10m_u_component_of_neutral_wind',
            '10m_u_component_of_wind', '10m_v_component_of_neutral_wind', '10m_v_component_of_wind',
            '10m_wind_gust_since_previous_post_processing', 'instantaneous_10m_wind_gust'],
    'year':['2016'],
    'month':['01','02','03','04',
            '05','06','07','08',
            '09','10','11','12'],
    'day': ['01','02','03','04','05',
           '06','07','08','09','10',
           '11','12','13','14','15',
           '16','17','18','19','20',
           '21','22','23','24','25',
           '26','27','28','29','30','31'],
    'time': ['00:00', '01:00', '02:00',
            '03:00', '04:00', '05:00',
            '06:00', '07:00', '08:00',
            '09:00', '10:00', '11:00',
            '12:00', '13:00', '14:00',
            '15:00', '16:00', '17:00',
            '18:00', '19:00', '20:00',
            '21:00', '22:00', '23:00'],
    'grid': [1, 1],
    'area': [39.95, -75.17, 39.95, -75.17],
    }
# retrieves the path to the file
fl = c.retrieve(dataset, params)
# download the file 
if download_flag:
    fl.download("./output.nc")
# load into memory
with urlopen(fl.location) as f:
    ds = xr.open_dataset(f.read())
# retrieves the path to the file
fl = c.retrieve(dataset, params)

# download the file 
if download_flag:
    fl.download("./output.nc")
    
# load into memory
with urlopen(fl.location) as f:
    ds = xr.open_dataset(f.read())

2021-12-07 18:41:03,138 INFO Welcome to the CDS
2021-12-07 18:41:03,140 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels
2021-12-07 18:41:03,292 INFO Request is queued
2021-12-07 18:55:24,741 INFO Request is completed
2021-12-07 18:55:25,850 INFO Welcome to the CDS
2021-12-07 18:55:25,852 INFO Sending request to https://cds.climate.copernicus.eu/api/v2/resources/reanalysis-era5-single-levels

In [6]:
df = ds.to_dataframe()
df.reset_index(inplace=True)
df = df.round(2)
df

,longitude,latitude,time,u100,v100,u10n,u10,v10n,v10,fg10,i10fg
0,-75.17,39.95,2016-01-01 00:00:00,4.61,-3.56,2.83,2.85,-2.08,-2.09,6.60,6.28
1,-75.17,39.95,2016-01-01 01:00:00,4.57,-3.36,2.71,2.75,-1.83,-1.85,6.28,5.85
2,-75.17,39.95,2016-01-01 02:00:00,4.61,-3.08,2.63,2.69,-1.55,-1.58,5.85,5.60
3,-75.17,39.95,2016-01-01 03:00:00,4.54,-2.76,2.59,2.65,-1.34,-1.37,5.63,5.57
4,-75.17,39.95,2016-01-01 04:00:00,4.57,-2.75,2.66,2.70,-1.39,-1.41,5.64,5.66
...,...,...,...,...,...,...,...,...,...,...,...
8779,-75.17,39.95,2016-12-31 19:00:00,1.57,9.73,0.94,0.94,6.58,6.53,13.65,13.58
8780,-75.17,39.95,2016-12-31 20:00:00,1.37,9.50,0.79,0.78,6.13,6.12,13.58,12.50
8781,-75.17,39.95,2016-12-31 21:00:00,2.82,10.23,1.45,1.46,6.18,6.22,12.54,12.47
8782,-75.17,39.95,2016-12-31 22:00:00,2.93,9.25,1.41,1.43,5.34,5.42,12.98,13.11
8783,-75.17,39.95,2016-12-31 23:00:00,3.80,9.46,1.97,2.00,5.48,5.54,13.33,13.24

In [7]:
df.to_csv('complete_wind/philly/2016.csv')